{% extends "structure.html" %}

{% block main %}
    <h1>This is the homepage</h1>
    <h1><a href="/about">About Me</a></h1>
	<p>below is my current learning page</p>
	<p><a href ="https://sites.google.com/site/nodejswikiinchinese/nodejs_from_scratch/introduction/"rel="noopener noreferrer" target="_blank">Node.js</a></p>
	<p><a href="https://closebrace.com/tutorials/2017-03-02/the-dead-simple-step-by-step-guide-for-front-end-developers-to-getting-up-and-running-with-nodejs-express-and-mongodb?tdsourcetag=s_pctim_aiomsg"rel="noopener noreferrer" target="_blank">Node.js</a></p>
	<p><a href="https://closebrace.com/tutorials/2017-03-02/creating-a-simple-restful-web-app-with-nodejs-express-and-mongodb"rel="noopener noreferrer" target="_blank">Node.js and MongoDB</a></p>
	<p><a href="https://developer.mozilla.org/zh-TW/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure"rel="noopener noreferrer" target="_blank">html</a></p>
	<p><a href="https://developer.mozilla.org/zh-TW/docs/Learn/Getting_started_with_the_web/CSS_basics"rel="noopener noreferrer" target="_blank">css</a></p>
	<p><a href="file:///C:/Users/zswt2/OneDrive/%E6%96%87%E4%BB%B6/Notepad++_worksapce/web-projects/test-site/index.html"rel="noopener noreferrer" target="_blank">my html project</a></p>
	<p><a href="https://blog.gtwang.org/programming/r/"rel="noopener noreferrer" target="_blank">R tutorial</a></p>
	<p><a href="https://blog.gtwang.org/programming/opencv-motion-detection-and-tracking-tutorial/"rel="noopener noreferrer" target="_blank">Python + openCV</a></p>
	<p><a href="https://www.youtube.com/watch?v=aByKOBqj2Tc&ab_channel=HappyCoder%E8%87%AA%E5%AD%B8%E7%A8%8B%E5%BC%8F%E8%A8%AD%E8%A8%88%E5%AD%B8%E9%99%A2"rel="noopener noreferrer" target="_blank">Python + openCV</a></p>
	<p><a href="https://www.youtube.com/watch?v=b7VkbAUqMqM&ab_channel=EDMTDev"rel="noopener noreferrer" target="_blank">Android+Python+openCV</a></p>
	<p><a href="https://medium.com/@jedy05097952/node-js-mysql-%E9%83%A8%E7%BD%B2-heroku-f07a2d75e72f"rel="noopener noreferrer" target="_blank">Node.js+MySQL+Heroku</a></p>
	<p><a href="https://medium.com/@jedy05097952/node-js-%E5%AF%A6%E4%BD%9C-the-f2e-chatroom-1-3ada5fca654f"rel="noopener noreferrer" target="_blank">Node.js Chatroom</a></p>
	<p><a href="https://medium.com/@jedy05097952/node-js-%E5%AF%A6%E4%BD%9C-the-f2e-chatroom-2-%E4%BB%BF%E7%99%BB%E5%85%A5%E7%B3%BB%E7%B5%B1%E8%88%87%E6%8E%92%E7%A8%8B-b64c34a2849f"rel="noopener noreferrer" target="_blank">Node.js Chatroom_2</a></p>
	<p><a href="https://djangogirlstaipei.herokuapp.com/tutorials/deploy-to-heroku/?os=windows"rel="noopener noreferrer" target="_blank">Heroku Django</a></p>
	<p><a href="https://developer.mozilla.org/zh-TW/docs/Learn/Server-side/Django/Introduction"rel="noopener noreferrer" target="_blank">Django</a></p>
	<p><a href="https://medium.com/codeda/android-studio-opencv%E7%B0%A1%E6%98%93%E5%AE%89%E8%A3%9D-c6eb10046151"rel="noopener noreferrer" target="_blank">Android Studio openCV</a></p>
	<p><a href="https://www.deeplearningbook.org/"rel="noopener noreferrer" target="_blank">deep learning</a></p>
	<p><a href="http://androidthinkermobile.blogspot.com/?view=timeslide"rel="noopener noreferrer" target="_blank">Android Kotlin</a></p>
	<p><a href="http://tw-hkt.blogspot.com/2019/07/2019-flutter-714.html"rel="noopener noreferrer" target="_blank">Flutter</a></p>
	<p><a href="https://ithelp.ithome.com.tw/articles/10215198"rel="noopener noreferrer" target="_blank">Flutter Dart</a></p>
	<p><a href="https://dartpad.dev/"rel="noopener noreferrer" target="_blank">dartpad</a></p>
	<p><a href="https://www.cse.ust.hk/ug/internship/?id=listjob"rel="noopener noreferrer" target="_blank">CSE job</a></p>
	<p><a href="https://medium.com/@charming_rust_oyster_221/flask-%E9%85%8D%E7%BD%AE-https-%E7%B6%B2%E7%AB%99-ssl-%E5%AE%89%E5%85%A8%E8%AA%8D%E8%AD%89-36dfeb609fa8"rel="noopener noreferrer" target="_blank">Flask https ssl</a></p>
	<p><a href="https://www.pythonistaplanet.com/python-flask-project-ideas/"rel="noopener noreferrer" target="_blank">Python Flask projects interesting</a></p>
	<p><a href="https://stackoverflow.com/questions/13081532/return-json-response-from-flask-view"rel="noopener noreferrer" target="_blank">Flask return json</a></p>
	<p><a href="https://ithelp.ithome.com.tw/articles/10214368"rel="noopener noreferrer" target="_blank">Python flask + html + javascript + Line bot</a></p>
	<p><a href="https://pytorch.org/tutorials/beginner/deep_learning_60min_blitz.html"rel="noopener noreferrer" target="_blank">pytorch</a></p>
	<p><a href="https://pytorch.org/tutorials/beginner/nn_tutorial.html"rel="noopener noreferrer" target="_blank">pytorch</a></p>
	<p><a href=""rel="noopener noreferrer" target="_blank">name</a></p>
	<p><a href=""rel="noopener noreferrer" target="_blank">name</a></p>
	<p><a href=""rel="noopener noreferrer" target="_blank">name</a></p>
	<p><a href=""rel="noopener noreferrer" target="_blank">name</a></p>
{% endblock main %}