<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
        <title>DashBoard</title>
        <link rel="shortcut icon" href="static/favicon.ico"/>
        <link rel="bookmark" href="static/favicon.ico"/>
    </head>
    <body>
        <p>客廳大燈</p>
        <form method="POST">
        <input type="submit" name="submit_button" value="開燈"
        style="background-color: #bccae;
        margin-left:auto;margin-right:auto;
        display:block;margin-top:22%;margin-bottom:0%;
        border-top: 2px solid #5f6c4d;
        border-right: 2px solid #000000;
        border-bottom: 2px solid #000000;
        border-left: 2px solid #5f6c4d;
        width: 180px; height: 100px;
        font-weight: bold;
        font-size : 70px; " />
        <input type="submit" name="submit_button" value="關燈"
        style="background-color: #bccae;
        margin-left:auto;margin-right:auto;
        display:block;margin-top:22%;margin-bottom:0%;
        border-top: 2px solid #5f6c4d;
        border-right: 2px solid #000000;
        border-bottom: 2px solid #000000;
        border-left: 2px solid #5f6c4d;
        width: 180px; height: 100px;
        font-weight: bold;
        font-size : 70px; " />
        </form>
    </body>
</html>