<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
        <title>Tong Cheng's Webpage</title>
        <link rel="shortcut icon" href="static/favicon.ico"/>
        <link rel="bookmark" href="static/favicon.ico"/>
    </head>


    <body>
        <h1>Hello! this is Tong Cheng's Webpage!!</h1>

        <div>
            {% block main %}
                <h1>This only show structure.html</h1>
            {% endblock main %}
        </div>

    </body>
</html>